$color-alpha: #ad1fea;
$color-beta: #c75af6;
$color-blue: #4661e6;
$color-blue-hover: #cfd7ff;
$color-darkBlue: #373f68;
$color-white: #ffffff;

$color-background: #f2f4fe;
$color-background-light: #f7f8fd;
$color-darkerBlue: #3a4374;
$color-grey: #647196;
$color-orange: #f49f85;
$color-lightBlue: #62bcfa;
$color-red: #d73737;
$color-red-hover: #e98888;
