.button {
	border: none;
	outline: none;
	border-radius: 10px;
	text-decoration: none;

	// padding: 0.7em 0.5em 0.7em 0.5em;
	transition: all 0.3s;
	// font-size: 1.8em;
	width: 10em;
	height: 3.5em;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.3em;

	&-icon {
		margin-right: 0.2em;
	}

	@include responsive_layout(bp-xs) {
		padding: 0.7em 1em 0.7em 1em;
		font-size: 1.4em;
	}

	@include responsive_layout(bp-sm) {
		width: 13.4em;
		font-size: 1.4em;

		&:hover {
			cursor: pointer;
		}
	}

	&-1 {
		line-height: 19px;
		font-weight: 700;
		background: $color-alpha;
		color: $color-background;

		@include responsive_layout(bp-xs) {
			font-size: 1.3em;
			line-height: 19px;
		}

		@include responsive_layout(bp-sm) {
			font-size: 1.4em;
			line-height: 20px;

			&:hover {
				background: $color-beta;
			}
		}
	}

	&-2 {
		font-weight: 700;
		background: $color-blue;
		color: $color-white;
		font-size: 1em;
		line-height: 19px;

		@include responsive_layout(bp-xs) {
			font-size: 1.2em;
		}

		@include responsive_layout(bp-sm) {
			font-size: 1.4em;

			&:hover {
				background: #7c91f9;
			}
		}
	}

	&-3 {
		font-weight: 700;
		background: $color-darkerBlue;
		color: $color-white;

		&:hover {
			background: #656ea3;
		}
	}

	&-4 {
		font-weight: 700;
		background: $color-red;
		color: $color-white;

		&:hover {
			background: $color-red-hover;
		}
	}
}

//CODE FOR THE UPVOTE BUTTON
.upvote {
	transition: all 0.3s ease-in-out;

	&:hover {
		background: $color-blue-hover-200;
	}
}

.upvote-active {
	transition: all 0.3s ease-in-out;

	background: $color-blue !important;

	& p {
		color: $color-white !important;
	}
}
