//Main Navigation
.navigation {
	background: $color-darkBlue;
	border-radius: 0;
	padding: 1.4em 1.4em 1.4em 1.4em;
	margin-bottom: 3.4em;
	display: flex;
	width: 100%;
	align-items: center;
	position: relative;
	z-index: 2;

	&-suggestion {
		display: none;
	}

	&-username {
		display: none;
	}

	@include responsive_layout(bp-xs) {
		padding: 1.4em 1.4em 1.4em 1.4em;
	}

	@include responsive_layout(bp-sm) {
		border-radius: 10px;
		padding: 1.4em 1.5em 1.4em 1.5em;

		&-suggestion {
			display: flex;
			align-items: center;
			width: auto;
			margin-right: 2rem;

			&__img {
				min-width: 15%;
				margin-right: 1em;

				& img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			& p {
				font-size: 1.5em;
				font-weight: 700;
				line-height: 26px;
				color: $color-white;
			}

			&__number {
				margin-right: 0.5em;
			}
		}

		&-username {
			font-size: 1.5em;
			font-weight: 500;
			text-transform: capitalize;
			color: $color-white;
			margin-right: 1.5em;
			display: block;
		}
	}

	@include responsive_layout(bp-md) {
		padding: 1.4em 1.6em 1.4em 2.4em;

		&-suggestion {
			width: auto;
			margin-right: 3.8rem;

			&__img {
				width: 15%;
				margin-right: 1.6em;
			}

			& p {
				font-size: 1.8em;
			}

			&__number {
				margin-right: 0.5em;
			}
		}

		&-username {
			font-size: 1.5em;
			margin-right: 2em;
		}
	}

	@include responsive_layout(bp-lg) {
		padding: 1.4em 1.6em 1.4em 2.4em;

		&-username {
			font-size: 1.8em;
			margin-right: 2.5em;
		}
	}
}

//Navigation Sort
.navigation-sort {
	display: flex;
	margin-right: auto;
	align-items: center;
	position: relative;

	&__text {
		font-size: 1.3em;
		line-height: 19px;
		color: $color-background;
		margin-right: 0.9em;
		transition: all 0.3s ease-in-out;

		& span {
			text-transform: capitalize;
			font-weight: 700;
		}
	}

	&__dropdown {
		position: absolute;
		top: 5em;
		left: 0;
		z-index: 2;

		background: $color-white;
		border-radius: 10px;
		width: 25.5em;
		box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
		opacity: 1;
		visibility: visible;

		&--items {
			list-style: none;
		}

		&--item {
			display: flex;
			padding: 1.2em 2em;
			font-size: 1.6em;
			line-height: 23px;
			font-weight: normal;
			color: $color-grey;
			position: relative;

			& span:first-child {
				margin-right: auto;
			}

			&:not(:last-child) {
				&::after {
					content: "";
					width: 100%;
					height: 1px;
					background: $color-darkerBlue;
					opacity: 0.15;

					position: absolute;
					bottom: 0;
					left: 0;
				}
			}

			&.active {
				color: $color-alpha;
			}
		}

		&.hide-dropdown {
			opacity: 0;
			visibility: hidden;
		}
	}

	@include responsive_layout(bp-sm) {
		&__text {
			font-size: 1.4em;
			line-height: 20px;

			& span {
				text-transform: capitalize;
				font-weight: 700;
			}

			&:hover {
				cursor: pointer;
				color: $color-background;
				opacity: 0.75;
			}
		}

		&__dropdown {
			top: 6.5em;
			width: 25.5em;

			&--item {
				padding: 1.2em 2em;
				font-size: 1.6em;
				line-height: 23px;

				&:hover {
					color: $color-alpha;
					cursor: pointer;
				}
			}
		}
	}
}

//NAVIGATION AUTHENTICATION
.navigation-authentication {
	display: none;

	@include responsive_layout(bp-sm) {
		min-width: 35px;
		height: 100%;
		margin-right: 2.5rem;
		cursor: pointer;
		display: block;

		& img {
			width: auto;
			height: auto;
			display: block;
		}
	}

	@include responsive_layout(bp-md) {
		min-width: 40px;
		margin-right: 1.5rem;
	}

	@include responsive_layout(bp-lg) {
		min-width: 50px;
		margin-right: 2.5rem;
	}
}
