//SIDEBAR WRAPPER
.sidebar {
	display: flex;
	flex-direction: column;
	gap: 2.4em;

	&-header {
		width: 100%;
		position: relative;
		z-index: 1000;

		& img {
			width: 100%;
			height: 72px;
			border-radius: 0;
			display: block;
		}

		&__text {
			position: absolute;
			top: 20%;
			left: 5%;

			& h1 {
				font-size: 1.5em;
				font-weight: 700;
				line-height: 22px;
				letter-spacing: -0.25px;
				color: $color-white;
			}

			& p {
				font-size: 1.3em;
				font-weight: 500;
				line-height: 19px;
				color: $color-white;
				opacity: 0.75;
			}
		}

		@include responsive_layout(bp-sm) {
			& img {
				width: 100%;
				height: 100%;
				border-radius: 10px;
			}

			&__text {
				top: 55%;
				left: 10%;

				& h1 {
					font-size: 2em;
					font-weight: 700;
					line-height: 29px;
				}

				& p {
					font-size: 1.5em;
					line-height: 22px;
				}
			}
		}
	}
}

//SIDEBAR MOBILE
.sidebar-mobile {
	position: absolute;
	top: 3em;
	right: 2em;

	&__menu {
		width: 20px;
		height: 17px;

		& img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: contain;
		}
	}

	@include responsive_layout(bp-sm) {
		display: none;
	}
}

.sidebar-children {
	display: none;

	@include responsive_layout(bp-sm) {
		display: flex;
		flex-direction: column;
		gap: 2.4em;
	}
}

//SIDEBAR FEATURE
.sidebar-feature {
	background: $color-white;
	padding: 24px 12px;
	border-radius: 10px;
	display: block;

	&__list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		width: 100%;

		&--item {
			font-size: 1.3em;
			font-weight: 600;
			line-height: 19px;
			border-radius: 10px;

			background: $color-background;
			color: $color-blue;
			// width: 30%;

			padding: 5px 16px 6px 16px;
			margin-bottom: 14px;
			transition: all 0.3s;

			&:hover {
				cursor: pointer;
				background: $color-blue-hover;
				color: $color-blue;
			}

			&.active {
				background: $color-blue;
				color: $color-white;
			}
		}

		& #Enhancement {
			margin-right: 14px;
		}
	}

	@include responsive_layout(bp-xs) {
		padding: 24px 18px 24px 24px;
	}

	@include responsive_layout(bp-sm) {
		padding: 24px 50px 24px 24px;
	}
}

//SIDEBAR ROADMAP
.sidebar-roadmap {
	// display: none;

	// @include responsive_layout(bp-sm) {
	background: $color-white;
	padding: 19px 24px 24px 24px;
	border-radius: 10px;
	display: block;

	&__heading {
		display: flex;
		align-items: center;
		margin-bottom: 24px;

		& h2 {
			font-size: 1.8em;
			line-height: 26px;
			color: $color-darkerBlue;
			margin-right: auto;
		}

		& a {
			font-size: 1.3em;
			font-weight: 600;
			line-height: 19px;
			color: $color-blue;
			opacity: 0.25;

			transition: all 0.3s ease-in-out;

			&:hover {
				color: $color-blue-hover;
				opacity: 1;
			}
		}
	}

	&__items {
		list-style: none;

		&--list {
			font-size: 1.6em;
			color: $color-grey;

			display: flex;
			align-items: center;

			&:not(:last-child) {
				margin-bottom: 0.5em;
			}

			&::before {
				content: "";
				width: 8px;
				height: 8px;
				border-radius: 50%;
				margin-right: 1em;
				// background: green;
			}

			&#planned::before {
				background: $color-orange;
			}

			&#in-progress::before {
				background: $color-alpha;
			}

			&#live::before {
				background: $color-lightBlue;
			}

			& span:first-child {
				font-weight: 400;
				margin-right: auto;
			}

			& span:last-child {
				font-weight: 700;
			}
		}
	}
	// }
}
