.feedbackdetails {
	width: 100%;
	position: relative;
	padding: 3em 2.4em 8.5em 2.4em;

	&-contents {
		width: 100%;
		margin: 0;

		&__controls {
			display: flex;
			align-items: center;
			margin-bottom: 2.4em;

			& p {
				margin-right: auto;

				display: flex;
				align-items: center;
				cursor: pointer;

				& span:first-child {
					align-self: flex-end;
					margin-right: 1em;

					& img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}

				& span:last-child {
					text-transform: capitalize;
					font-size: 1.4em;
					font-weight: bold;
					line-height: 20px;
					color: $color-grey;
				}
			}
		}

		&__feedback {
			margin-bottom: 2.4em;

			&--text {
				background: $color-white;
				display: flex;
				padding: 2.8em 3.2em;
				border-radius: 10px;

				& .feedback-contents {
					cursor: auto;
				}

				& .feedback-comments p {
					align-self: center;
				}
			}
		}
	}

	@include responsive_layout(bp-sm) {
		padding: 0 0 10em 0;

		&-contents {
			width: 100%;

			&__controls {
				margin-bottom: 2.4em;
			}
		}
	}

	@include responsive_layout(bp-md) {
		&-contents {
			width: 70%;
			margin: 0 auto;
		}
	}

	@include responsive_layout(bp-lg) {
		&-contents {
			width: 50%;
			margin: 0 auto;
		}
	}
}

//CSS CODE FOR THE COMMENT COMPONENTS
.comments {
	background: $color-white;
	padding: 1em 2em 2em 2em;
	border-radius: 10px;
	margin-bottom: 2.4em;

	&-heading {
		font-size: 1.5em;
		font-weight: 700;
		line-height: 19px;
		color: $color-darkerBlue;
		margin-bottom: 2.8em;
	}

	@include responsive_layout(bp-sm) {
		padding: 2.4em 3.2em 1em 3.2em;

		&-heading {
			font-size: 1.8em;
			line-height: 26px;
		}
	}

	&-comment {
		display: flex;
		flex-direction: column;
		position: relative;

		&__line {
			position: relative;

			@include responsive_layout(bp-sm) {
				&::before {
					content: "";
					display: block;
					width: 1px;
					height: calc(100% - 220px);
					background: $color-grey;
					// background: red;
					opacity: 0.1;
					position: absolute;
					top: 65px;
					left: 18px;
				}
			}
		}

		&__parent {
			display: block;
			margin-bottom: 1.5em;

			&--heading {
				display: flex;
				align-items: center;
				margin-bottom: 1.6em;
			}

			&--userdetails {
				margin-right: auto;
			}

			@include responsive_layout(bp-sm) {
				display: flex;
				flex-direction: column;
				margin-bottom: 3em;
			}
		}

		&__replies {
			display: flex;
			flex-direction: column;
			padding-left: 2.5em;
			margin-bottom: 2.4em;

			&--heading {
				display: flex;
				align-items: center;
				margin-bottom: 1.6em;
			}

			&--userdetails {
				margin-right: auto;
			}

			& button {
				padding: 1.25em 1.5em 1.15em 1.5em;
			}

			@include responsive_layout(bp-sm) {
				padding-left: 4.5em;
				margin-bottom: 2em;

				& button {
					padding: 1.25em 1.5em 1.15em 1.5em;
				}
			}
		}

		&__more {
			position: relative;
			margin-bottom: 3.2em;

			&:not(:last-child) {
				&::after {
					content: "";
					width: 100%;
					height: 1px;
					background: $color-line;
					opacity: 0.25;

					position: absolute;
					bottom: 0;
					left: 0;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__img {
			width: 40px;
			height: 40px;
			margin-right: 1em;
			position: relative;

			& img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				object-fit: cover;

				position: relative;
			}

			@include responsive_layout(bp-sm) {
				margin-right: 3.2em;

				&--line::before {
					content: "";
					width: 100%;
					display: inline-block;
					background: transparent;

					position: absolute;
					top: -20px;
					left: -27px;

					border: 1px solid $color-grey;
					opacity: 0.1;
					border-bottom-left-radius: 25px;
					border-top: 0;
					border-right: 0;
					padding: 2em;
				}
			}
		}

		&__contents {
			width: 100%;
			position: relative;

			&--name {
				font-size: 1.4em;
				font-weight: bold;
				line-height: 20px;
				color: $color-darkerBlue;
			}

			&--username {
				font-size: 1.4em;
				font-weight: normal;
				line-height: 20px;
				color: $color-grey;

				margin-bottom: 0;
			}

			&--comment {
				font-size: 1.3em;
				font-weight: normal;
				line-height: 19px;
				color: $color-grey;
				word-wrap: break-word;

				&-more {
					margin-bottom: 0.8em;
				}

				& span {
					color: $color-alpha;
					font-weight: 700;
				}
			}

			&--replyBtn {
				font-size: 1.3em;
				font-weight: 600;
				line-height: 19px;
				color: $color-blue;
				cursor: pointer;
				transition: all 2s ease-in-out;
			}

			@include responsive_layout(bp-sm) {
				&--name {
					font-size: 1.4em;
					line-height: 20px;
					// font-weight: bold;
					// color: $color-darkerBlue;
				}

				&--username {
					font-size: 1.4em;
					line-height: 20px;
					// font-weight: normal;
					// color: $color-grey;
				}

				&--comment {
					font-size: 1.5em;
					line-height: 22px;

					margin-left: 5em;
				}

				&--replyBtn {
					&:hover {
						text-decoration: underline;
					}
				}
			}

			&--replyComment {
				display: flex;
				width: 100%;
				align-items: flex-start;
				margin-top: 2.4em;

				&-more {
					margin-bottom: 1.8em;
				}

				& .feedbackForm-form__control {
					width: 100%;
					margin-right: 0;
				}

				& form {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;

					& > div {
						margin-bottom: 0;
					}

					& button {
						padding: 0.8em 0.5em 0.8em 0.5em;
						width: 40%;
					}
				}

				@include responsive_layout(bp-sm) {
					& .feedbackForm-form__control {
						width: 80%;
						margin-right: 1.6em;
					}

					& form {
						flex-direction: row;
						margin-left: 7.5em;

						& button {
							padding: 0.8em 0.5em 0.8em 0.5em;
							width: 20%;
						}
					}
				}

				@include responsive_layout(bp-md) {
					& .feedbackForm-form__control {
						width: 80%;
						margin-right: 1.6em;
					}
				}
			}
		}
	}
}

.addcomment {
	background: $color-white;
	padding: 2.4em 2em 4.8em 2em;
	border-radius: 10px;

	&-heading {
		font-size: 1.5em;
		font-weight: bold;
		line-height: 19px;
		color: $color-darkerBlue;
		margin-bottom: 1em;
	}

	&-actions {
		display: flex;
		align-items: center;

		&__wordcount {
			font-size: 1.3em;
			font-weight: normal;
			line-height: 19px;
			color: $color-grey;
			margin-right: auto;
		}
	}

	@include responsive_layout(bp-xs) {
		padding: 2.4em 2.4em 4.8em 2.4em;

		&-heading {
			font-size: 1.8em;
			line-height: 26px;
		}
	}

	@include responsive_layout(bp-sm) {
		padding: 2.4em 3.2em 4.8em 3.2em;

		&-heading {
			font-size: 1.8em;
			line-height: 26px;
		}

		&-actions {
			&__wordcount {
				font-size: 1.5em;
				line-height: 22px;
			}
		}
	}
}
