.wrapper {
	position: relative;
	padding: 0;
	width: 100%;
	height: 100vh;

	@include responsive_layout(bp-xs) {
		// position: relative;
		padding: 9.4em 16.5em;
		// width: 100%;
		// height: 100vh;
	}
}

.layout {
	display: flex;
	flex-direction: column;
	gap: 0;
	width: 100%;
	position: relative;

	&-sidebar {
		width: 100%;
		position: relative;
		z-index: 1;
		// display: none;
	}

	&-main {
		width: 100%;
	}

	@include responsive_layout(bp-xs) {
		display: flex;
		flex-direction: row;
		gap: 3em;
		width: 100%;

		position: relative;

		&-sidebar {
			width: 18%;
			position: relative;
			z-index: 1;
		}

		&-main {
			width: 80%;
		}
	}
}
